* {
    padding: 0px;
    margin: 0px;

}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.container {
    background-image: url("./images/librarypng/table.png");
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-position: bottom center;
    height: 500px;
    width: 1250px;
    position: fixed;
    bottom: -120px;
    background-color: transparent;
}

/* .table {
    image-rendering: pixelated;
    background-color: transparent;
    max-width: 1340px;
    min-height: 500px;
    position: fixed;
    bottom: -200px;
} */

.abook {
    display: flex;
    background-size: contain;
    width: 430px;
    height: 100px;
    image-rendering: pixelated;
    background-color: transparent;
    image-rendering: crisp-edges;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -21px;
    position: relative;
    z-index: 1;
}

.books {
    position: absolute;
    top: -230px;
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    width: 900px;
    flex-direction: column-reverse;
}

.addBook {
    background-image: url("./images/librarypng/add.png");
    height: 80px;
    width: 80px;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    cursor: pointer;
    border: none;
    position: fixed;
    top: 10px;
    right: 30px;

}
.addBook:hover{

    background-image: url("./images/librarypng/addHover.png");
}