* {
    padding: 0px;
    margin: 0px;

}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.table {

    image-rendering: pixelated;
    background-color: transparent;
    max-width: 1340px;
    min-height: 500px;
    position: fixed;
    bottom: -200px;


}